<a href="https://colab.research.google.com/github/hinatanvir/Fault-Detection-SECOM/blob/cleaning/Fault_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import pandas as pd
import numpy as np

In [2]:
path1='https://raw.githubusercontent.com/hinatanvir/Fault-Detection-SECOM/main/secom.data?token=GHSAT0AAAAAABTMJQPCMEYJ4LIGT2V6TRG2YSS5ZWA'

In [3]:
data = pd.read_csv(path1,delimiter=' ',header=None)

In [ ]:
data

In [5]:
path2='https://raw.githubusercontent.com/hinatanvir/Fault-Detection-SECOM/main/secom_labels.data?token=GHSAT0AAAAAABTMJQPCJP4OZMM573LK4Q7UYSS562A'

In [6]:
label=pd.read_csv(path2,delimiter=' ',header=None)

In [ ]:
label

In [8]:
data.columns = ['feature'+str(x+1) for x in range(len(data.columns))]

In [ ]:
data

In [10]:
label.columns=['status','timestamp']

In [11]:
#converting timestamp to datetime format, dayfirst=True arg ensures days and month dont switch 
#for dates lesser than 13 
label['timestamp']=pd.to_datetime(label['timestamp'],dayfirst=True)

In [ ]:
#check format of dates for lesser than 13 
mask = (label['timestamp'] > '2008-08-11 00:00:00') & (label['timestamp'] <= '2008-08-16 00:00:00')
filtered_df=label.loc[mask]
print(filtered_df)

In [13]:
merge_data= pd.concat([data,label],axis=1)

In [ ]:
merge_data

In [21]:
#count null values accross a dataframe
merge_data.isna().sum().sum() # 41951

41951

In [ ]:
#counting null values across the rows 
#df.loc[[index value]].isna().sum().sum()

In [24]:
merge_data.isnull().sum(axis=0)

feature1       6
feature2       7
feature3      14
feature4      14
feature5      14
              ..
feature588     1
feature589     1
feature590     1
status         0
timestamp      0
Length: 592, dtype: int64

In [25]:
#percentage of missing values in each column
percent_missing = merge_data.isnull().sum() * 100 / len(merge_data)
missing_value_df = pd.DataFrame({'column_name': merge_data.columns,
                                 'percent_missing': percent_missing})

In [26]:
missing_value_df

           column_name  percent_missing
feature1      feature1         0.382897
feature2      feature2         0.446713
feature3      feature3         0.893427
feature4      feature4         0.893427
feature5      feature5         0.893427
...                ...              ...
feature588  feature588         0.063816
feature589  feature589         0.063816
feature590  feature590         0.063816
status          status         0.000000
timestamp    timestamp         0.000000

[592 rows x 2 columns]